{% extends 'base.html' %}

{%  block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        *{
    margin:0px;
}
body{
    font-family: 'Courier New', Courier, monospace;
}

aside{
    background-color: black;
    width: 170px;
    height: 507px;
    float: left;
}
aside>a{
    color: orange;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 25px;
}
aside>a:hover{
    text-decoration: underline;
}
section{
    margin-bottom: 10px;
    padding: 10px;
}
header{
    background-color: black;
}
    </style>
</head>
<body>
    <aside>
        <a href="#">PYTHON</a>
        <a href="#">JAVA</a>
        <a href="#">MERN</a>
        <a href="#">DEVOPS</a>
        <a href="#">DATA SCIENCE</a>
    </aside>
    <section>
        <article>
            <h2>Python</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem odit, aliquid rerum accusamus optio numquam iste! Autem doloremque vel eum ullam nostrum blanditiis corrupti, fugit, quis odit, quae exercitationem praesentium!</p>
        </article>
        <article>
            <h2>JAVA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem odit, aliquid rerum accusamus optio numquam iste! Autem doloremque vel eum ullam nostrum blanditiis corrupti, fugit, quis odit, quae exercitationem praesentium!</p>
        </article>
        <article>
            <h1>DATA SCIENCCE</h1>
            <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, quisquam. Libero hic dolorem, tenetur quas facere voluptatibus, nam iusto aperiam obcaecati, animi eligendi esse iure suscipit ea vero neque quo?
            </P>
        </article>
    </section>

</body>
</html>

{% endblock %}